.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/826/233/271/skyscraper-pixel-art-3d-digital-art-wallpaper-preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  border: inset 5px cyan;
  border-radius: 20px;
  height:auto;
}

h2 {
  color: cyan;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
  color: cyan;
  margin-top: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Base button style */
button {
  /* Lifting effect */
  box-shadow: 0px 0px 6px rgb(255, 255, 255); 
  /* Color */
  background-color: #000000; 
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px solid cyan;
  border-radius: 5px;
  cursor: pointer;
  /* Transition for smooth changes */
  transition: 0.3s ease-in-out;
}

/* Hover state */
button:hover {
  /* Slightly larger shadow on hover */
  box-shadow: 0px 5px 12px cyan;
  /* Change color on hover */
  background-color: cyan; 
  transform: scale(1.2);
}

/* Active state (when button is being pressed) */
.my-button:active {
  /* Reduce shadow and push button down */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
  transform: translateY(2px);
  /* Optional: change color on active state */
  background-color: #3e8e41;
}


input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #333;
}

.task {
  background-color: #000000;
  color: cyan;
  border: 1px solid cyan;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  box-shadow: 0 4px 8px 0 cyan, 0 6px 20px 0 cyan;
  text-align: left;
}

.task:hover {
  box-shadow: 0 8px 16px 0 cyan, 0 12px 40px 0 cyan;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



.task:last-of-type {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.task.task:last-of-type.delete {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.material-delete {
  vertical-align: middle;
  cursor: pointer;
  color: cyan;
  margin-right: 5px;
  float: right;
  text-align: right;
  font-size: 30px;
}

.material-delete:hover {
  rotate: 6deg;
  transform: scale(1.1);
}

#checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
  color: #000000;
  margin-right: 5px;
  font-size: 30px;
  border-radius: 25px;
  #checkbox:hover {
  /* Slightly larger shadow on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  /* Change color on hover */
  background-color: #282928;
  color: white;
  transform: scale(1.2);
}

/* Active state (when button is being pressed) */
/* #checkbox:active {
  /* Reduce shadow and push button down */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
  transform: translateY(2px);
  /* Optional: change color on active state */
  background-color: #070707;
  text-decoration: line-through cyan;
  }

task,.task {
  font-size: 18px;
}

.strikethrough {
  text-decoration: line-through wavy white ;
  color: rgb(238, 5, 5);
  text-shadow: red;
}

/* changes color of .material-delete when .strikethrough is active*/
.strikethrough + .material-delete {
  color: rgb(238, 5, 5);
}

.completedTask {
  box-shadow: 0 4px 8px 0 #ccc;
}




